* {
  box-sizing: border-box;
  user-select: none;
}

html, body {
  --element-ratio: 0;

  width: 1000px;
  height: 1000px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #333333;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}
@media (min-width: 1025px){
  #video-container {
    width: 640px;
    height: 480px;
    position: relative;
  }
}

@media screen and (orientation:portrait)  and (max-width: 1025px){
  #video-container {
    width: 480px;
    height: 640px;
    position: relative;
  }

  #canvas{
    height: 640px;
    width: 480px;
  }
}

@media screen and (orientation:landscape) and (max-width: 1025px){
  #video-container {
    width: 640px;
    height: 480px;
    position: relative;
  }

  #canvas{
    height: 480px;
    width: 640px;
  }
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
}

/*#canvas{*/
/*  height: calc(var(--element-ratio) * 100%);*/
/*  width: calc(var(--element-ratio) * 100%);*/
/*}*/

#video {
  transform: scaleX(-1);
  height: 100%;
  width: 100%;
  object-fit: fill;
}

#pose-result {
  position: absolute;
  height: 0;
  width: 0;
  left: 100%;
  border: 4px double black;
  font-size: 100px;
  background: aliceblue ;
  /*text-align: right;*/
  /*padding: 0 0 0 80%;*/
}

textarea{
  /*top: 0;*/
  height: auto;
  width: 100%;
}